* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --teal-500: #31C3BD;
    --teal-300: #65E9E4;
    --gold-600: #F2B137;
    --gold-400: #FFC860;
    --charcoal-900: #1A2A33;
    --charcoal-800: #1F3641;
    --ice-300: #A8BFC9;
    --ice-100: #DBE8ED;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--charcoal-900);
}