@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --teal-500: #31C3BD;
    --teal-300: #65E9E4;
    --gold-600: #F2B137;
    --gold-400: #FFC860;
    --charcoal-900: #1A2A33;
    --charcoal-800: #1F3641;
    --ice-300: #A8BFC9;
    --ice-100: #DBE8ED;
}

body {
    font-family: "Outfit", sans-serif;
    width: 100%;
    height: 100vh;
    background-color: var(--charcoal-900);
    display: flex;
    justify-content: center;
    align-items: center;
}

#hidden {
    display: none;
}

#visible {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-menu {
    gap: 40px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--ice-300);
    font-size: 10px;
    width: min(460px, 90vw);
    min-height: 205px;
    background-color: var(--charcoal-800);
    border-radius: 15px;
    box-shadow: 0 8 px 0 0 #0d1a22;
    /* darker version of the bg */
}

.menu .switch {
    border-radius: 10px;
    padding: 0 10px;
    width: 90%;
    height: 72px;
    background-color: var(--charcoal-900);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.oval {
    border-radius: 10px;
    width: 198px;
    height: 54px;
    background-color: var(--ice-300);
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons button {
    font-weight: 900;
    height: 67px;
    position: relative;
    padding: 18px 0;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: var(--charcoal-900);
    text-align: center;
}

.btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 16px;
    border-radius: 15px;
    z-index: -1;
}

.btn-yellow {
    background: var(--gold-400);
    box-shadow: inset 0px -8px 0px #CC8B13;
}

.btn-teal {
    background: var(--teal-300);
    box-shadow: inset 0px -8px 0px #118C87;
}

.game-menu {
    gap: 50px;
    width: 100%;
}

.game-heading {
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-player {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    color: var(--ice-300);
    width: 152px;
    height: 52px;
    background-color: var(--charcoal-800);
    box-shadow: inset 0px -4px 0px #10212A;
    font-weight: 700;
    font-size: larger;
    border-radius: 10px;
}

.restart-button {
    cursor: pointer;
    border: none;
    min-width: 52px;
    height: 52px;
    background-color: var(--ice-300);
    box-shadow: inset 0px -4px 0px #6B8997;
    border-radius: 10px;
}

.grid-square {
    width: 140px;
    height: 140px;
    border-radius: 10px;
    background-color: var(--charcoal-800);
    box-shadow: inset 0px -8px 0px #10212A;
    display: flex;
    justify-content: center;
    align-items: center;

    &>img {
        width: 63.46px;
        height: 63.46px;
    }
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.scores {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.score-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 72px;
    border-radius: 15px;

}

.player-score {
    background-color: var(--teal-500);
}

.total-ties {
    background-color: var(--ice-300);
}

.computer-score {
    background-color: var(--gold-600);
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(10, 20, 25, 0.6);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 266px;
    background: #1f3641;
    padding: 60px 48px;
}

.overlay-content p {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    color: #a8bfc9;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.overlay-content h1 {
    padding-top: 20px;
    color: #31c3bd;
    margin-bottom: 24px;
}
.winner-container{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}
.winner-container img{
    width: 64px;
    height: 64px;
}
.overlay-content h1 span {
    margin-right: 8px;
}

.btns {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.btns>.btn {
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;

}

.btn.quit {
    box-shadow: inset 0px -4px 0px #6B8997;
    width: 76px;
    height: 52px;
    background: #a8bfc9;
}

.btn.next {
    width: 146px;
    height: 52px;
    background: #f2b137;
    box-shadow: inset 0px -4px 0px #CC8B13;
}

@media (max-width: 768px) {
    body {
        display: block;
    }

    .game-menu {
        display: flex;
        justify-content: end;
    }

    .game-heading {
        padding-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .grid-square {
        width: 80px;
        height: 80px;
    }
    .scores {
        width: 90%;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

}